body {
	background-color: lightgray;
	font-family: 'Roboto', sans-serif;
    color: #838994;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}
div {
	border: 1px solid chocolate;
}
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
/*Navigation Section */
.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
}
.top-navigation > .content {
	height: 70px;
}
.content {
	width: 90rem;
	padding: 0 0.938rem;
    margin: 0 auto;
	min-width: 5rem;
    width: 1141px;
}
.top-navigation .logo {
    height: 2.5rem;
    margin-top: 1em;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing; antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links li.active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
/*intro section*/
.intro {
    background-image: url(images/first-background-copy.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
    color: white;
    text-align: center;
}
h1 {
    margin: 0.67rem 0;
}
.intro h1 {
margin-top: 17.5rem;
font-size: 3.125rem;
font-weight: 100
}
.intro h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
    font-weight: 100;
}
/*button section*/
.intro .button {
    margin: 0 auto;
    color: white;
    text-align: center;
    margin-top: 1.563rem;
}
button {
    text-shadow: none;
    border-radius: 4px;
    border-style: none;
    padding: 1rem 1.5rem;
    background-color: #f15a29;
    border-color: #f15a29;
    color: white;
}