html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/**
 * Start of Custom Styles
 */

body, nav {
    /*background-color: LightGray;*/
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
}

div {
    /*border: 1px solid Chocolate;*/
}

li {
    list-style-image: none;
    list-style: none;
    list-style-type: none;
}

ul {
    list-style: none;
    list-style-image: none;
    list-style-type: none;
}

.content {
    padding: 0 0.938rem;
    margin: 0 auto;
    width: 60%;
    min-width: 37.5rem;
    text-align: center;
}

:focus {
    outline: none;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
/*********************************************************************************
 **************************Top Navigation Section*********************************
 *********************************************************************************/
nav {
    position: fixed;
    width: 100%;
    height: 4.43rem;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
}

nav > .content {
    height: 4.2rem;
}

nav .logo {
    margin-top: 1em;
    float: left;
}

nav .links {
    float: right;
    color: #838994;
    font-size: 1.04rem;
    margin-top: 1.7rem;
}

nav .links li {
    display: inline-block;
    margin-left: 25px;
}

nav .links li.active {
    color: #4c5058;
    font-weight: 500;
}

nav .links li:hover {
    cursor: pointer;
    color: #333333;
}

nav img {
    width: 1.5rem;
}
/*****************************************************************************************
 *********************Introduction Ssection***********************************************
 *****************************************************************************************/
#intro {
    background-image: url(images/first-background-copy.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

#intro h1,
#intro h3 {
    color: white;
    text-align: center;
    font-weight: 100;
}

#intro h1 {
    margin: 0.67rem 0;
    margin-top: 17.5rem;
    font-size: 3.125rem;
}

#intro h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}
/**********************************************************************************
 ******************************Button Section**************************************
 **********************************************************************************/
#intro .button {
    margin: 0 auto;
    color: white;
    text-align: center;
    margin-top: 1.563rem;
}

button {
    width: 9.688rem;
    font-size: 1.125rem;
    text-shadow: none;
    border-radius: 4px;
    border-style: none;
    padding: 1rem 1.5rem;
    background-color: #f15a29;
    border-color: #f15a29;
    color: white;
}
/************************************************************************************
 ********************************* Cases Section ************************************
 ************************************************************************************/

#cases {
    overflow: hidden;
    padding-bottom: 5rem;
}

#cases .content {
    margin-top: 7.875rem;
    padding: none;
    color: #1d1e21;
    text-align: center;

}

#cases h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0rem 3.125rem;
    font-weight: 300;   
}

.caption {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}

.content .devices p {
    font-weight: 300;
    font-size:1.313rem;
}

#cases .devices {
    display: inline-block;
    width: 18rem;
}

#cases img{
    height: 127px;
    width: 127px;
}
/********************************************************************************
 *************************** Footer Section *************************************
 ********************************************************************************/
footer {
    overflow: auto;
    padding-bottom: 9.375rem;
}

footer hr {
    border:0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
}

footer .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}

footer .icons >li:hover {
    cursor: pointer;
}

footer .twitter {
    color: #55acee;
}

footer .facebook {
    color: #4c66a4;
}

footer .instagram {
    color: #3f729b;
}

footer .copy {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
}

/***************************************************************************
 ***************** Responsiveness section **********************************
 ***************************************************************************/

 @media screen and (max-width: 956px) {
    #cases .devices {
        width: 30%;
    }
}

 
 @media screen and (max-device-width: 500px) {
    #cases .devices {
        width: 30%
    }
 } 
